.wrapper
  search-form
  .resultsContainer
    article.newspaperArticle
      h2 30 Years of the Internet
      p Content
    article.newspaperArticle
      h2 30 Years of the Internet
      p Content
